.row
  %article.col-md-12
    %h2 最新の投稿

    %table.table
      - @posts.each do |post|
        %tr
          %td.feed-title= link_to post.title, post_path(post)
          %td
            %img{src: "#{post.user.image_url}", width: '36', height: '36'}
          %td= post.user.nickname
          %td= time_ago_in_words(post.created_at)
