= form_for(@post) do |post|
  .row
    .col-md-6
      .form-group
        = post.text_field :title, class: 'form-control', placeholder: "タイトル"
      .form-group
        = post.text_area :body, class: 'form-control', rows: "19", placeholder: "Markdown"
      = post.submit "投稿する", class: "btn btn-primary btn-lg btn-block"

    .col-md-6
      .jumbotron{style: "font-size: 24px;height:500px;"}
        Preview Area
