#stock
  - unless @stock
    = render partial: "stocks/create", locals: { post: @post }
  - else
    = render partial: "stocks/destroy", locals: { stock: @stock }

%h1= @post.title

= @post.to_html

%h2 コメント

- if @comments.any?
  - @comments.each do |comment|
    %p= comment.user.nickname
    %p= comment.body

= form_for(@comment) do |f|
  = f.hidden_field :post_id, value: @post.id
  %p= f.text_area :body
  %p= f.submit "コメントする"
