%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      = link_to 'Aiita', root_path, class: 'navbar-brand'
    #navbar.navbar-collapse.collapse
      %form.navbar-form.navbar-left{role: "search", action: "/search"}
        .form-group
          %input.form-control{placeholder: "キーワードを入力", type: "text"}/
        %button.btn.btn-default{type: "submit"} 検索
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to '新規投稿', new_post_path
        - if current_user
          %li
            = link_to 'ストック一覧', index_stock_path(current_user.nickname)
        - unless current_user
          %li
            = link_to 'ログイン', '/auth/google_oauth2'
        - else
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
              = current_user.nickname
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "drop3", role: "menu"}
              %li{role: "presentation"}
                = link_to 'マイページ', user_path(current_user.nickname), role: 'menuitem', tabindex: '-1'
              %li.divider{role: "presentation"}
              %li{role: "presentation"}
                = link_to 'ログアウト', session_path, method: :delete, role: 'menuitem', tabindex: '-1'
